* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0d0d0d;
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 450px;
}

h1 {
    font-size: 3rem;
    letter-spacing: -2px;
}

h1 span {
    color: #00ff88;
}

.subtitle {
    color: #888;
    margin: 10px 0 30px;
}

.card {
    background: #161616;
    border: 1px solid #292929;
    padding: 30px;
    border-radius: 16px;
}

input {
    width: 100%;
    padding: 14px;
    background: #222;
    border: 1px solid #444;
    color: white;
    border-radius: 8px;
    outline: none;
    margin-bottom: 15px;
    font-size: 15px;
}

input:focus {
    border-color: #00ff88;
}

button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 8px;
    background: #00ff88;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    opacity: 0.85;
}

#qrcode {
    background: white;
    padding: 15px;
    width: fit-content;
    margin: 25px auto;
    border-radius: 8px;
    display: none;
}

.download {
    background: transparent;
    border: 1px solid #00ff88;
    color: #00ff88;
    display: none;
}

.footer {
    margin-top: 25px;
    color: #555;
    font-size: 13px;
}